*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: inline;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    color: white;
}
.container
{
    position: relative;
    text-decoration: underline;
}
.head
{
    text-emphasis-color: red;
    font-size:xx-large;
    background: rgb(0, 0, 0);
    height: 70px;
    width: Full;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    text-align: center;
}
.h1
{
    font-size:medium;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}
.side
{
    position: fixed;
    z-index: 1;
    top: 70px;
    left: 0;
    overflow: hidden;
    width: 330px;
    background: rgb(0, 0, 0);
    height:100%;
    color: white;
}
.h2
{
    display: block;
    font-weight: bolder;
    text-align: center;
    line-height: 4.0;
    font-size: larger;   
}
.detail
{   
    text-align: center;
    font-size: small;
    font-weight: 550;
    padding: 10px;
    margin-top: -60px;
    line-height: 1.8;
}
.link
{   
    text-align: center;
    font-size: small;
    font-weight: 550;
    padding: 10px;
    margin-top: -60px;
    line-height: 1.8;
    letter-spacing: 3px;
}
p
{
    font-size:small;
    margin-top: -30px;
    line-height: 6;
    
}
.skill{
    width: 100%;
    background-color: #ddd;
    margin-top: -30px;
    line-height: 0.5;
    font-size: smaller;
    border-radius: 25px;
  }
.skills {
    text-align: right;
    padding-top:15px;
    padding-bottom: 10px;
    color: white;
    border-radius: 25px;
  }
  
.html {width: 90%; background-color: #575757;}
.css {width: 80%; background-color: #575757;margin-top: -30px;}
.py {width: 75%; background-color: #575757;margin-top: -30px;}
.dj {width: 55%; background-color: #575757;margin-top: -30px;}
.ml {width: 65%; background-color: #575757;margin-top: -30px;}

.hobbie
{
    font-size: small;
    line-height: 1.5;
}
.profile
{
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    padding-left: 330px;
    width: 1600px;
    background: #000000;
    height: 200px;
}
.content{
    text-align: left;
    font-weight: 600;
    font-size: medium;
    padding-left: 30px;
    padding-right: 0px;
    line-height: 2;
}
.content1{
    text-align: left;
    font-weight: 600;
    font-size: medium;
    padding-left: 30px;
    padding-right: 0px;
    line-height: 3;
}
.edu
{
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    padding-left: 330px;
    width: 1600px;
    background: #000000;
    height: 200px;
}
.inner
{
    font-size: x-small;
    text-decoration: underline;
}
.intern
{   
    margin-top: 10px;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    padding-left: 330px;
    width: 1600px;
    background: #000000;
    height: 280px;
}
.third
{   
    
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 1550px;
    overflow: hidden;
    width: 330px;
    background: rgb(0, 0, 0);
    height:60%;
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}
.course
{   
    margin-top: 10px;
    font-size: small;
    display: inline-block;
    line-height: 2;
    text-decoration: none;
    margin-bottom: 20px;
}
.cer
{
    margin-top: 10px;
    font-size: small;
    display: inline-block;
    line-height: 2;
    text-decoration: none;
    margin-bottom: 20px;
}
.last
{   position: fixed;
    z-index: 1;
    top: 600px;
    left: 1550px;
    overflow: hidden;
    width: 330px;
    background: #000000;
    height:35%;
    color: white;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}
.last1
{
    font-size: small;
    line-height: 2;
    
}